<div class="container-gerenciamento">
    <div class="container-opcoes-gerenciamento">
        <div class="botao-gerenciamento">
            <h3><%= link_to 'Importar dados', root_path %></h3>
        </div>
        <div class="botao-gerenciamento">
            <h3><%= link_to 'Editar Templates', templates_path %></h3>
        </div>
        <div class="botao-gerenciamento">
            <h3><%= link_to 'Enviar Formulários', root_path %></h3>
        </div>
        <div class="botao-gerenciamento">
            <h3><%= link_to 'Resultados', resultados_path %></h3>
        </div>
    </div>
</div>