<div id="modal" class="modalQuestoesAdd">
  <div class="modal-content-options">
    <div id="questoesContainer" class="questoesAdicinando"></div>
    <button id="addNovaQuestao" class="addNovaQuestao">+</button>
  </div>
</div>

<script>
  var modal = document.getElementById('modal');
  var questoesContainer = document.getElementById('questoesContainer');
  var contadorQuestoes = 0;

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  }

  function adicionarQuestao() {
    contadorQuestoes++;
    var novoBloco = document.createElement('div');
    novoBloco.classList.add('bloco-questao');
    novoBloco.innerHTML = `
      <div class="container-questao">
        <div style="display: flex; justify-content: space-between;">
          <h3>Questão ${contadorQuestoes}:</h3>
          <button class="removerQuestao">X</button>
        </div>
        <div class="containerSelectTipo">
          <div style="display: flex; align-items: center; gap: 20px; width: 100%;">
            <span>Tipo:</span>
            <select class="tipoQuestao">
              <option value="">Selecione</option>
              <option value="radio">Opção de Radio</option>
              <option value="texto">Campo de Texto</option>
            </select>
          </div>
          <div class="questao"></div>
        </div>
      </div>
    `;
    questoesContainer.appendChild(novoBloco);
  }

  adicionarQuestao();

  document.getElementById('addNovaQuestao').addEventListener('click', adicionarQuestao);

  questoesContainer.addEventListener('change', function(event) {
    var target = event.target;
    if (target && target.classList.contains('tipoQuestao')) {
      var tipoSelecionado = target.value;
      var questaoContainer = target.closest('.container-questao').querySelector('.questao');

      if (tipoSelecionado === 'radio') {
        questaoContainer.innerHTML = `
          <div style="display: flex; gap: 20ox; align-items: center;">
            <label>Texto:</label>
            <input style="width: 80%; padding: 5px;"  name="label_questao"><br>
          </div>
          <div class="opcoes-container">
            <div class="opcaoSelectRadio">
              <label>Opção 1:</label>
              <input style="width: 80%; padding: 5px;" type="text" name="opcao_texto">
            </div>
            <button class="addOpcao">+</button>
          </div>
        `;

        questaoContainer.querySelector('.addOpcao').addEventListener('click', function() {
          var opcoesContainer = questaoContainer.querySelector('.opcoes-container');
          var novaOpcao = document.createElement('div');
          novaOpcao.classList.add('opcao');
          novaOpcao.innerHTML = `       <div class="opcaoSelectRadio">
            <label>Opção ${opcoesContainer.children.length}:</label> 
            <input style="width: 80%; padding: 5px;" type="text" name="opcao_texto">
          </div>`;
          opcoesContainer.insertBefore(novaOpcao, questaoContainer.querySelector('.addOpcao'));
        });
      } else if (tipoSelecionado === 'texto') {
        questaoContainer.innerHTML = '<div><label>Texto:</label>  <input style="width: 80%; padding: 5px;" type="text" name="questaoTexto"></div>';
      }
    }
  });
  questoesContainer.addEventListener('click', function(event) {
    var target = event.target;
    if (target && target.classList.contains('removerQuestao')) {
      var blocoQuestao = target.closest('.bloco-questao');
      questoesContainer.removeChild(blocoQuestao);
      contadorQuestoes--;
    }
  });
</script>
