<div class="container-template">
  <% if @templates.any? %>
    <% @templates.each do |template| %>
      <div class="box-template">
        <div class="info-template">
          <h1><%= template.nome %></h1>
          <p>Semestre: <%= template.semestre %></p>
        </div>
        <div class="icon-template">
          <%= image_tag('editarIcon.png', alt: 'Editar', class: 'icon-menu', id: 'openMenu') %>
          <%= image_tag('lixeiraIcon.png', alt: 'Deletar', class: 'icon-menu', id: 'openMenu') %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum template encontrado.</p>
  <% end %>
  <div class="adicionar-template" id="openModalAdd">
    +
  </div>
</div>

<div class="modal-adicionar-template" id="template-add">
  <div class="modal-content">
    <p>Abriu</p>
  </div>
</div>

<script>
  var modal = document.getElementById("template-add");
  var btn = document.getElementById("openModalAdd");
  btn.onclick = function() {
    modal.style.display = "block";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>