<div class="container-template">
  <% if @templates.any? %>
    <% @templates.each do |template| %>
      <div class="box-template">
        <div class="info-template">
          <h1><%= template.nome %></h1>
          <p>Semestre: <%= template.semestre %></p>
        </div>
        <div class="icon-template">
          <%= image_tag('editarIcon.png', alt: 'Editar', class: 'icon-menu', id: 'openMenu') %>
          <%= image_tag('lixeiraIcon.png', alt: 'Deletar', class: 'icon-menu', id: 'openMenu') %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum template encontrado.</p>
  <% end %>
  <div class="adicionar-template">
    +
  </div>
</div>